body {
	background-image: url(https://www.google.ca/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=2ahUKEwjDmvKa6a_aAhUm04MKHSSNBLYQjRx6BAgAEAU&url=https%3A%2F%2Fwww.reedandrader.com%2Fthe-coding-train%2F&psig=AOvVaw3VSq5R57yqzjArSZ6-t8Ph&ust=1523453623051038);
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 18px;
}

.crystal-image {
	width: 150px;
	height: auto;
    border: 3px solid lightsteelblue;
    margin-left: 20px;
    margin-top: 15px;
}

#headermaster {
	background-color: #658ED5;
    width: 350px;
    height: 80px;
    margin-bottom: 10px;
    margin-left: 25px;
    text-align: center;
}

#scores {
    font-size: 14px;
    font-weight: bold;
    text-align: center;	
}

.paragraph {
    width: 370px;
    height: 330px;
    background-color: cornsilk;
    color: teal;
    font-size: 16px;
    padding: 10px;
    margin-left: 15px;
}

.matches, .windandlose {
	float: left;
    width: 10%;
    margin-top: 18px;
    margin-left: 16px;
    padding-left: 18px;
}

.matches {
    height: 50px;
    background-color: darkturquoise;
    color: snow;
}

.winandlose {
    background-color: skyblue;
    color: purple;
    margin-left: 325px;
    max-width: 100px;
}

.totalscore {
    width: 24%;
    height: 90px;
    background-color: papayawhip;
    margin-left: 15px;
    padding-left: 30px;
}

footer {
    background: aliceblue;
    clear: both;
    text-align: center;
    font-size: 30px;
    color: #4A5BD2;
    margin-top: 15px;
}
